In [1]:
def myreduce(a):
    n=len(a)
    sum=0
    i=0
    while i<n:
        if n%2==0:
            sum=sum+a[i]
            i+=1
        elif n%2!=0:
            print("cant perform the reduce operation")
            break
    print(sum)

In [2]:
s=myreduce([1,2,3,4,5,6,7,8])

36

In [17]:

def filter(score):
    filtered=[]
    nonfiltered=[]
    for i in score:
        if i >=30:
            filtered.append(i)
        else:
            nonfiltered.append(i)
    print(filtered)        
    print(nonfiltered)

In [18]:
ab=filter([10,20,30,40,50,65,78,95,23])

[30, 40, 50, 65, 78, 95]
[10, 20, 23]

In [5]:
x=['x','y','z']
y=[item*num for item in x for num in range(1,5)]
print(str(y))

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [6]:
x1=['x','y','z']
y1=[item*num for num in range(1,5) for item in x1]
print(str(y1))

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [12]:
x2=[2,3,4,5]
y2=[[item+num for item in x2]for num in range(0,4)]
print(str(y2))

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [17]:
x3=[2,3,4]
y3=[[item+num]for item in x3 for num in range(0,4)]
print(y3)

[[2], [3], [4], [5], [3], [4], [5], [6], [4], [5], [6], [7]]

In [16]:
a=[1,2,3]
b=[(item,num)for item in a for num in range(1,4)]
print(b)

[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3)]